My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a professional clinic receptionist. Collect the patient's\n1. Full Name\n2. Email\n3. Phone number\n4. Telegram ID\n5. Reason for visit\n6. Preferred appointment date and time\n\nThen book the appointment in Google Calendar and save details to Airtable.\nBe friendly and professional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        16
      ],
      "id": "948dfdb2-0e7d-4b15-918d-3c8e1bd1007c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || \"default-session\" }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "24d0952c-bb1c-4965-9f02-09531c11b6a3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create an event in Google Calendar Use this tool to create a confirmed appointment in Google Calendar after the patient selects an available time slot.",
        "calendar": {
          "__rl": true,
          "value": "dtejasri36@gmail.com",
          "mode": "list",
          "cachedResultName": "dtejasri36@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        240
      ],
      "id": "1c786d11-a909-4484-9cc9-c7fd1c176b5a",
      "name": "Create an event in Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1z2GmN4kk34g3arA",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appVZo3C2PZelFM1g",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl2IDb2rxc2xHUV6",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patient Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Name', ``, 'string') }}",
            "Reminder_Sent": "={{ false }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', ``, 'string') }}",
            "Doctor": "Dr.siri",
            "Telegram ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telegram_ID', ``, 'number') }}",
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Patient Name",
              "displayName": "Patient Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telegram ID",
              "displayName": "Telegram ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Doctor",
              "displayName": "Doctor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Dr.siri",
                  "value": "Dr.siri"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "BOOKED",
                  "value": "BOOKED"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reminder_Sent",
              "displayName": "Reminder_Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        352,
        256
      ],
      "id": "6b04d431-c6b4-4527-8b16-05d583b60ad3",
      "name": "Create a record in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "eUPxzXd0TJKJioPr",
          "name": "Airtable Personal Access Token account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=dtejasri36@gmail.com",
        "subject": "=Appointment Confirmed",
        "message": "=<h2>Appointment Confirmed!</h2> <p>Dear {{ $json.output. patientName }}, </p> <p>Your appointment has been successfully booked. </p> <ul>   <li><strong>Doctor:</strong> {{ $json.output.doctor }} </li>   <li><strong>Date & Time:</strong> {{ $json.output.date }}</li> </ul> <p>Please arrive 10 minutes early. </p> <br> <p>Thank you,<br>Clinic Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        16
      ],
      "id": "207963cb-9f35-43a4-9dc0-4c5f8a8da6f0",
      "name": "Send a message",
      "webhookId": "6d45f8bd-a809-4c74-bbde-9a933dbc18e9",
      "credentials": {
        "gmailOAuth2": {
          "id": "RRSELih9UuWiVxAb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        16
      ],
      "id": "a720e346-091a-4975-a1d2-0f67d961242e",
      "name": "When chat message received",
      "webhookId": "83b027b5-c8d2-410e-bdf5-a81514e14324"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        96,
        224
      ],
      "id": "e62f04cd-3b9f-4b17-8710-47ee5327ceca",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "sqP1CKnAUUCqsZl2",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a record in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0da07a29-ce59-4d76-98a9-417a869715ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2e1e935f01221bbb0c7800d5904f13d77590bdb6c6dde94d68215ea51d96a4e"
  },
  "id": "tZ1PZ6X0Be2AHjtU",
  "tags": []
}